@page "/commingsoon"

<div class="form-signin align-self-center">
    <MudPaper Class="d-flex align-self-center" MaxWidth="100%" Width="100%" Style="margin:25px;background-color:#ffffffd6;border-radius:10px;">
        <MudGrid Justify="Justify.Center">
            <MudItem xs="12" sm="12">
                <MudCard Style="padding:25px;">
                    <MudText Class="shades-text" Typo="Typo.h1" Align="Align.Center" Style="font-weight:400">
                        We are preparing
                        <br />
                        something exciting
                        <br />
                        & amazing for you.
                    </MudText>
                </MudCard>
            </MudItem>
        </MudGrid>
    </MudPaper>


</div>

@code {

}
<MudText Typo="Typo.h3">

</MudText>
